*, *:before, *:after {
  box-sizing: border-box;
}

html,body{ 
  width:100%;
  height:100%;
}

body {
  margin: 0;
  padding: 4rem; /*Create a paspartu frame effect*/
  background-color: #fff;
  background-image: linear-gradient(to center, rgba(0, 1, 85, 0.5), transparent);
}


.sky{
  height:90%;
  width:100%;
  position: absolute;
  top: 0;
}

.snow-js{
  width: inherit;
  height: inherit;
}


.scene {
  height:inherit;
  width:inherit;
  background-color: #000;
  background-image: linear-gradient(to top, rgba(0, 0, 102, 0.5), transparent);
  position: relative;
}

.mountain-1 {
    position: absolute; bottom: 0; left: 0; 
    width: 30%;
    height: 50%;
    clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
    background-color:#088A85;
    background-image: linear-gradient(to top, rgba(60, 179, 113, 0.5), transparent);/*For when there is no snow effect*/
    background: linear-gradient(to bottom, white 20%, #088A85 30% 70%);/*Snow Effect*/
}
.mountain-2 {
	position: absolute; bottom: 0; left: 6%; 
    width: 50%;
    height: 70%;
    clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
    background-color:#0B0B61;
    background-image: linear-gradient(to top, rgba(0, 1, 80, 0.5), transparent);/*For when there is no snow effect*/
    background: linear-gradient(to bottom, white 20%, #0B0B61 30% 70%);/*Snow Effect*/
}
.mountain-3 {
	position: absolute; bottom: 0; left: 28%; 
    width: 40%;
    height: 55%;
    clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
    background-color:#086A87;
    background-image: linear-gradient(to top, rgba(0, 1, 80, 0.5), transparent);/*For when there is no snow effect*/
    background: linear-gradient(to bottom, white 20%, #086A87 30% 70%);/*Snow Effect*/
}
.mountain-4 {
	position: absolute; bottom: 0; right: 18%; 
    width: 40%;
    height: 40%;
    clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
    background-color:#848484;
    background-image: linear-gradient(to top, rgba(0, 1, 80, 0.5), transparent);/*For when there is no snow effect*/
    background: linear-gradient(to bottom, white 20%, #848484 30% 70%);/*Snow Effect*/
}
.mountain-5 {
	position: absolute; bottom: 0; right: 0; 
    width: 40%;
    height: 60%;
    clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
    background-color:#08298A;
    background-image: linear-gradient(to top, rgba(60, 179, 113, 0.5), transparent);/*For when there is no snow effect*/
    background: linear-gradient(to bottom, white 20%, #08298A 30% 70%);/*Snow Effect*/
}
.mountain-6 {
	position: absolute; bottom: 0; left: 6%; 
    width: 50%;
    height: 40%;
    clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
    background-color:#0B4C5F;
    background-image: linear-gradient(to top, rgba(0, 1, 80, 0.5), transparent);/*For when there is no snow effect*/
    background: linear-gradient(to bottom, white 20%, #0B4C5F 30% 70%);/*Snow Effect*/
}


.wave-area {
	position: absolute; bottom: 0; left: 0;  /*Align to bottom of the scene*/
    width:inherit;
}

.wave-header { /*Extra area needed (as a safety net) for the waves to rize*/
  mmin-height: 200px;
  width:inherit;
  padding: 2rem;
  text-align: center;
  /*
  background-color: #1F1303;
  background-image: linear-gradient(to bottom, rgba(0, 1, 80, 0.5), transparent);
  */
}

.canvas-wave {
  height: 50%;
  width: inherit;
  max-width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; 
}

canvas {
  width: inherit;
  display: block;
}

